.qq{
    padding-left: 500px;
    color: white;
    font-family: 'Roboto', sans-serif;
    word-spacing: 30px;
}
.button{
    border-radius: 30px;
    width: 100px;
    height: 32px;
   background-color: #ff30c8;
    color: white;
    outline: none; 
    border: 0;
}
.button2{
    border-radius: 30px;
    background-color: #ff30c8;
    color: white;
    outline: none; 
    border: 0;
    width: 130px;
    height: 42px;
    margin-left: 180px;
} 
h1{
    color: white;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
   padding-left: 180px;
   padding-top: 180px;
}
h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 180px;
    font-size: 40px;
    
}
p{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 180px;
    font-size: 13px;
    
}
img{
   margin-left: 900px;
  margin-bottom: -500px;
}