.Header{
    background-color: black;
    height: 50px;
    
}
.header{
    margin-top:-25px;
    padding-left:1000px ;
    color: white;
}
.bang{
    font-size: 21px;
    padding-top: 13px;
    padding-left: 20px;
}
.unlock{
   
    margin-left: 637px;
}
.Unlock{
    background-color: rgb(249, 224, 29);
    height: 90px;
}
.search{
    margin-left: 638px;
    margin-top: 15px;
    background-color: black;
    width: 187px;
    border-radius:73px ;
    height:25px ;
    color: white;
    padding-left: 22px;
    padding-top: 10px;
    font-size: 13px;
    
}
.font{
font-size: 17px;
margin-top: -25px;
padding-left: 810px;
}

.Bang{
    padding-left: 164px;
    margin-top: -10px;
    font-size: 18px;
}
.w{
    padding-top: 95px;
    padding-left: 160px; 
    font-size: 30px;  
}
.they{
    padding-left: 164px;
     margin-top: -5px;
}
.box{
    background-color: rgb(255, 237, 215);
    border-radius: 10px;
}
.q{
    color: white;
    padding-left: 235px;
    margin-top: -128px;
}
.service{
    font-size: 20px;
    padding-left: 78px; 
    
    color: white;
   display: inline;
}
.FOnt{
    padding-left:130px ;
    padding-top: 10px;
    font-size: 35px;
}
.box1{
    background-color: blue;
    height: 150px;
    width: 280px;
    margin-left:800px ;
    margin-top: -60px;
    border-radius: 10px;
}
.this{
    font-size: 12px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}
.get{
    font-size: 9px;
    color: white;
    padding-left: 38px;
}
.button{
  
    margin-left:890px ;
    
}
.it{
    font-size: 24px;
    padding-left: 50px;
    margin-top: 50px;
    padding-top: 40px;
}
.box2{
    background-color: #fefec4;
    height: 300px;
}
.box3{
 margin-top: -180px;
 background-color: white;
 border: 1px solid white;
 width: 250px;
 height: 120px;
 margin-left: 50px;
 border-radius: 5px;
}
.check{
    font-size: 25px;
    padding-left: 5px;
    padding-top: 10px;
}
.u{
    padding-left: 5px;
    padding-top: 12px;
}
.s{
    padding-left: 5px;
    padding-top: 12px;
    font-size: 13px;
}
.box4{
    margin-top: -119px;
 background-color: white;
 border: 1px solid white;
 width: 250px;
 height: 120px;
 margin-left: 330px;
 border-radius: 5px;
}
.check{
    font-size: 25px;
    padding-left: 5px;
    padding-top: 10px;
}
.e{
    padding-left: 5px;
    padding-top: 12px;
}
.y{
    padding-left: 5px;
    padding-top: 12px;
    font-size: 13px;
}
.box5{
    margin-top: -119px;
    background-color: white;
    border: 1px solid white;
    width: 250px;
    height: 120px;
    margin-left: 610px;
    border-radius: 5px;
}
.b{
    padding-left: 5px;
    padding-top: 12px;  
}
.s{
    padding-left: 5px;
    padding-top: 12px;
    font-size: 13px;  
}